<h1>Here is the list of recipes in your cookbook</h1>
<ul>
<% @recipes.each_with_index do |recipe, index| %>
  <li>
    <%= "#{index + 1} #{recipe.name}" %>
  </li>
<% end %>
</ul>

<br><br><br>

<h1> What recipe you want to delete ? </h1>
<form action="/delete" method="post">
  <input type="text" name="index" required="required" placeholder="Index" />
  <input type="submit" value="Delete">
</form>
