<h1> What ingredient you want to be inspired with ?? </h1>
<form action="/import" method="post">
  <input type="text" name="ingredient" required="required" placeholder="Ingredient" />
  <input type="submit" value="Download">
</form>




