<p>
  What do you want to do ?
  1. List recipes
  2. Create a recipe
  3. Destroy a recipe
  4. Import a recipe
  5. Leave the cookbook
</p>


<!-- Formulaire simple qui enverra une requête POST -->
<form action="/" method="post">
  <label for="POST-index">Type a number:</label>
  <input id="POST-index" type="text" name="index">
  <input type="submit" value="Save">
</form>
