<h1> Fill this form to create a new recipe </h1>
<form action="/new" method="post">
  <input type="text" name="name" required="required" placeholder="Name" />
  <input type="text" name="description" required="required" placeholder="Description" />
  <input type="submit" value="Create">
</form>

