<h1>Here is the list of recipes with ingredient <%= @ingredient %> you can import</h1>
<ul>
<% @results.each_with_index do |result, index| %>
  <li>
    <%= "#{index + 1} #{result.name}" %>
    <form action="/new" method="post">
      <input type="hidden" name="name" value = "<%= result.name %>"/>
      <input type="hidden" name="description" value = "<%= result.description %>"/>
      <input type="submit" value="Import the recipe">
    </form>
  </li>
<% end %>
</ul>


